<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>blrbr</title>

    <link href="css/bootstrap.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
    <link rel="stylesheet" href="styles/app.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" href="css/page-player.css"/>
    <link href="css/jquery.atwho.css" rel="stylesheet">



</head>

<body>
<div id="mainApp" hidden="hidden">
<ons-sliding-menu var="slidingMenu"
                  menu-page="menu.html" main-page="home.html" side="left"
                  type="reveal" max-slide-distance="100%" swipable="true"></ons-sliding-menu>

<ons-template id="menu.html">
    <ons-page id='MenuPage' class="ios-shift" ng-controller="MenuCtrl" style="background-color: white;">

        <ons-list style="text-align: center;height:100%;">
            <ons-list-item
                    class="backgroundColor0"
                    ng-click="gotoPage('home') ">

                <i class="fa fa-home fa-5x vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        home
                    </div>
                </i>

            </ons-list-item>

            <ons-list-item
                    class="backgroundColor2"
                    ng-click="gotoPage('channel')">

                <i class="fa fa-list-ul fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        channels
                    </div>
                </i>
            </ons-list-item>

            <ons-list-item id="streamListItem" hidden="hidden"
                           class="backgroundColor3"
                           ng-click="gotoPage('stream')">

                <i class="fa fa-headphones fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        stream
                    </div>
                </i>
            </ons-list-item>
            <ons-list-item id="streamListItemOff" onclick="gotoRoute('Account/Login');"
                           style="background-color: lightgrey; height:25%;"
                    >

                <i class="fa fa-headphones fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        login to stream
                    </div>
                </i>
            </ons-list-item>

            <ons-list-item id="blrbListItem"
                           class="backgroundColor4"
                           ng-click="gotoPage('create')">

                <i class="fa fa-microphone fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        blrb
                    </div>
                </i>
            </ons-list-item>

            <ons-list-item id="blrbListItemOff" onclick="gotoRoute('Account/Login');"
                           style="background-color: lightgrey; height:25%;"
                    >

                <i class="fa fa-microphone fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                       login to blrb
                    </div>
                </i>
            </ons-list-item>
        </ons-list>

    </ons-page>

</ons-template>
<ons-template id="home.html">
    <ons-page id='HomePage' class="ios-shift" ng-controller="HomeCtrl" style="background-color: white;">

        <ons-list style="text-align: center;height:100%;">
            <ons-list-item>
                <div
                        id="backBtn"
                        class="col-xs-6 backgroundColor0" ng-click="ons.slidingMenu.toggleMenu()">

                    <i class="fa fa-bars fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            menu
                        </div>
                    </i>

                </div>
                <div
                        id="loadingBtn"
                        class="col-xs-6" style="background-color: lightgrey;padding-top: 30px;">

                    <i class="fa fa-spinner fa-spin fa-5x color1"> </i>

                </div>
                <div
                        id="loginBtn"
                        class="col-xs-6 backgroundColor2" onclick="gotoRoute('Account/Login');" hidden="hidden">

                    <i class="fa fa-sign-in fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            login
                        </div>
                    </i>

                </div>
                <div
                        id="blrbBtn"
                        class="col-xs-6 backgroundColor4" hidden="hidden"
                        ng-click="ons.slidingMenu.setMainPage('create.html', {closeMenu: true});">

                    <i class="fa fa-microphone fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            blrb
                        </div>
                    </i>

                </div>
            </ons-list-item>
            <ons-list-item
                    id="homeImg"
                    class="backgroundColor5">
                <img ng-click="gotoChannel('ocean');" src="images/blrbrfish_logo_nobubble.png" style=" max-height: 100%;  padding: 10px;"/>
            </ons-list-item>


            <ons-list-item
                    id="featuredChannel"
                    class="backgroundColor5" ng-repeat="channel in featuredChannelResponse" >
                <div ng-click="gotoChannel(channel.Hashtag);" style='padding: 20px;'>
                    <div class='col-xs-4'>
                        <img src="{{channel.ProfileImg}}" style="width: 80px;"></img>
                    </div>
                    <div class='col-xs-8' style='padding-top: 5px'>
                        <p style="color:lightgrey;">
                            featured channel
                        </p>
                        <p>
                            {{channel.Name}}
                        </p>

                        <p>
                            #{{channel.Hashtag}}
                        </p>
                    </div>
                </div>
            </ons-list-item>

            <ons-list-item id="homeChannelBtn"
                    class="backgroundColor2"
                    ng-click="gotoPage('channel')">

                <i class="fa fa-list-ul fa-5x fa-fw vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        more channels
                    </div>
                </i>
            </ons-list-item>

            <ons-list-item
                    id="accountBtn"
                    class="col-xs-12 backgroundColor3"
                    hidden='hidden'
                    ng-click="ons.slidingMenu.setMainPage('account.html', {closeMenu: true});"
                    >
                <i class="fa fa-user fa-5x vertical-align-middle color1">
                    <div style="font-size:x-large;">
                        {{response.ScreenName}}
                    </div>
                </i>

            </ons-list-item>
        </ons-list>

    </ons-page>

</ons-template>

<ons-template id="channel.html">
    <ons-page id='ChannelPage' class="ios-shift" ng-controller="ChannelCtrl" style="background-color: white;">
        <div id="channelLoad">
            <div style="background-color: #FFFFFF;margin:0px;font-size: 70px;text-align: center;padding-top:150px;">
                <span class="fa fa-spinner fa-spin color1"></span>
            </div>
        </div>

        <ons-list id="channelMain" hidden='hidden' style="text-align: center;height:100%;">
            <ons-list-item>
                <div
                        id="backBtn"
                        class="col-xs-6 backgroundColor0" ng-click="ons.slidingMenu.toggleMenu()">

                    <i class="fa fa-bars fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            menu
                        </div>
                    </i>

                </div>

                <div
                        id="searchBtn"
                        class="col-xs-6 backgroundColor4" ng-click="searchChannel()">

                    <i class="fa fa-search fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            search
                        </div>
                    </i>

                </div>
            </ons-list-item>
            <ons-list-item
                    id="searchInput"
                    class="backgroundColor5">
                <input id="channel_input" placeholder="search channels"
                       style="width: 100%; height: 100%; text-align: center; font-size: xx-large;"/>
            </ons-list-item>

            <ons-list-item
                    id="channels"
                    class="backgroundColor5" ng-repeat="channel in response" style="height:120px;">
                <div ng-click="gotoChannel(channel.Hashtag);" style='padding: 20px;'>
                    <div class='col-xs-4'>
                        <img src="{{channel.ProfileImg}}" style="width: 80px;"></img>
                    </div>
                    <div class='col-xs-8' style='padding-top: 5px'>
                        <p>
                            {{channel.Name}}
                        </p>

                        <p>
                            #{{channel.Hashtag}}
                        </p>
                    </div>
                </div>
            </ons-list-item>

        </ons-list>

    </ons-page>

</ons-template>

<ons-template id="stream.html">
    <ons-page id='StreamPage' class="ios-shift" ng-controller="StreamCtrl" style="background-color: white;">
        <div id="streamLoad">
            <div style="background-color: #FFFFFF;margin:0px;font-size: 70px;text-align: center;padding-top:150px;">
                <span class="fa fa-spinner fa-spin color1"></span>
            </div>
        </div>
        <div id="streamMain" style="height: 100%;">

            <ons-list style="text-align: center;height:25%;">
                <ons-list-item style="height: 100%">
                    <div
                            id="backBtn"
                            class="col-xs-6 backgroundColor0" ng-click="ons.slidingMenu.toggleMenu()">

                        <i class="fa fa-bars fa-5x vertical-align-middle color1">
                            <div style="font-size:x-large;">
                                menu
                            </div>
                        </i>
                    </div>
                    <div
                            id="loginBtn"
                            class="col-xs-6 backgroundColor2" onclick="gotoRoute('Account/Login');" hidden="hidden">

                        <i class="fa fa-sign-in fa-5x vertical-align-middle color1">
                            <div style="font-size:x-large;">
                                login
                            </div>
                        </i>
                    </div>
                    <div
                            id="blrbBtn"
                            class="col-xs-6 backgroundColor4" hidden="hidden"
                            ng-click="ons.slidingMenu.setMainPage('create.html', {closeMenu: true});">

                        <i class="fa fa-microphone fa-5x vertical-align-middle color1">
                            <div style="font-size:x-large;">
                                blrb
                            </div>
                        </i>
                    </div>
                </ons-list-item>

            </ons-list>
            <div id="channel" hidden="hidden" style="text-align: center;">
                <img src="{{response.Channel.BannerImg}}" style="width:100%;"/>

                <div>
                    {{response.Channel.Name}}
                </div>
                <div>
                    #{{response.Channel.Hashtag}}
                </div>
            </div>
            <div id="profile" hidden="hidden" style="margin: 10px;">
                <div class="row">
                    <div class="col-xs-3" style="padding:0;text-align: center">
                        <img src={{response.UserProfile.ProfileImageUrlBigger}}/>
                    </div>
                    <div class="col-xs-9 border">
                        <h3>{{response.UserProfile.ScreenName}}</h3>
                        <h5>@{{response.UserProfile.Username}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 border">
                        <div id="numberOfBlrbs">
                            {{response.NumberOfBlrbs}}
                        </div>
                        <div>
                            blrbs
                        </div>
                    </div>
                    <div class="col-xs-4 border">
                        <div>
                            {{response.UserProfile.NumberOfBlrbrFriends}}
                        </div>
                        <div>
                            following
                        </div>
                    </div>
                    <div class="col-xs-4 border">
                        <div>
                            {{response.UserProfile.NumberOfBlrbrFollowers}}
                        </div>
                        <div>
                            followers
                        </div>
                    </div>
                </div>

            </div>

            <ul class="playlist">
                <li ng-repeat="blrb in response.BlrbStreamItems" style="background-color:#{{blrb.Color}};"
                    class="blrbItem" id="{{blrb.Id}}">

                    <a href="{{blrb.Sound}}" class="clip">
                        <div class="row" style="background-color:white;margin:0px; ">
                            <div class="col-xs-2" style="padding:0;">
                                <img src="images/pause.png" alt="pause" class="pause" width="48"/>
                                <img src="images/play.png" alt="play" class="play" width="48"/>
                            </div>
                            <div class="col-xs-9">
                                <img src="{{blrb.Img}}"/>
                                {{blrb.ScreenName}}
                            </div>
                        </div>
                    </a>

                    <div style="background-color: white;">
                        <htmldiv content="blrb.TextWithCordovaMarkup"></htmldiv>
                    </div>
                    <div class="row" style="margin:0; background-color: white;">
                        <div class="col-xs-2 col-xs-offset-10" ng-click="reply(this)">
                            <span class="fa fa-reply color1"></span>
                        </div>
                    </div>

                </li>

            </ul>
            <div style=" background-color: #DB5FA5; height: 50px; padding-top:5px; font-size:xx-large; text-align:center;"
                 ng-click="LoadBlrbs()">
                <span class="glyphicon glyphicon-cloud-download"></span> more <span
                    class=" glyphicon glyphicon-cloud-download"></span>
            </div>
        </div>

    </ons-page>

</ons-template>
<ons-template id="create.html">
    <ons-page id='CreatePage' class="ios-shift" ng-controller="CreateCtrl" style="background-color: white;">
        <div id="loading" hidden="hidden">
            <br>

            <div style="background-color: #FFFFFF;margin:0px;font-size: 70px;text-align: center;padding-top:150px;">
                <p>
                    blrbn...
                </p>
                <br>
                <span class="fa fa-paper-plane color1"></span>
            </div>
        </div>

        <ons-list id="createMain" style="text-align: center;height:100%;">
            <ons-list-item>
                <div
                        id="backBtn"
                        class="col-xs-6 backgroundColor0" ng-click="ons.slidingMenu.toggleMenu()">

                    <i class="fa fa-bars fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            menu
                        </div>
                    </i>

                </div>

                <div
                        id="blrbBtn"
                        class="col-xs-6 backgroundColor4" hidden="hidden">

                    <i class="fa fa-paper-plane fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            send
                        </div>
                    </i>

                </div>
                <div
                        id="blrbBtnOff"
                        class="col-xs-6" style="background-color: lightgrey;">

                    <i class="fa fa-paper-plane fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            send
                        </div>
                    </i>

                </div>
            </ons-list-item>
            <ons-list-item id="beforeRecord" style="height:75%;">
                <div id="holdToRecordBtn" class="col-xs-12 backgroundColor2">
                    <i class="fa fa-microphone fa-5x vertical-align-middle color1">
                        <div id="holdToRecordText" style="font-size:x-large;">
                            hold to record
                        </div>
                    </i>
                </div>
            </ons-list-item>

            <ons-list-item
                    class="backgroundColor5" id="afterRecord" hidden="hidden">
                <textarea id="text_textarea" class="input-xlarge"
                          style="width:100%;height:100%;border:white;font-size: xx-large;"></textarea>

                <div id="recording_textarea" hidden="hidden" style="height:100%; background-color: red;">
                    <i class="fa fa-microphone-slash fa-5x vertical-align-middle color1"></i>
                    <i class="fa fa-microphone fa-5x vertical-align-middle color1" hidden="hidden"></i>
                </div>
            </ons-list-item>
            <ons-list-item
                    >
                <div style="text-align: center; font-size: xx-large; padding:0px;" class="col-xs-12 ">
                     <div id="twitterNo" style="background-color: lightgrey;" ng-click="twitterToggle('yes');"
                         hidden="hidden">
                        <i class="fa fa-twitter fa-3x vertical-align-middle" style="color: white;">
                            <div style="font-size:x-large;">
                                no tweet
                            </div>
                        </i>
                    </div>
                    <div id="twitterYes" class="backgroundColor1" ng-click="twitterToggle('no');">
                        <i class="fa fa-twitter fa-3x vertical-align-middle color-twitter-blue">
                            <div style="font-size:x-large;">
                                tweet
                            </div>
                        </i>
                    </div>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div id="recordBtn" class="col-xs-6 backgroundColor2">
                    <i class="fa fa-microphone fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            record
                        </div>
                    </i>
                </div>
                <!--<div id="stopBtn" class="col-xs-6 backgroundColor2" hidden="hidden">-->
                <!--<i class="fa fa-stop fa-5x vertical-align-middle color1" >-->
                <!--<div style="font-size:x-large;">-->
                <!--stop-->
                <!--</div></i>-->
                <!--</div>-->
                <div id="playBtn" class="col-xs-6 backgroundColor3" >
                    <i class="fa fa-play fa-5x vertical-align-middle color1">
                        <div style="font-size:x-large;">
                            play
                        </div>
                    </i>
                </div>

            </ons-list-item>

        </ons-list>

    </ons-page>

</ons-template>

<ons-template id="account.html">
    <ons-page id='AccountPage' class="ios-shift" ng-controller="AccountCtrl" style="background-color: white;">
        <div id="accountMain" style="height: 100%;">

            <ons-list style="text-align: center;height:25%;">
                <ons-list-item style="height: 100%">
                    <div
                            id="backBtn"
                            class="col-xs-6 backgroundColor0" ng-click="ons.slidingMenu.toggleMenu()">

                        <i class="fa fa-bars fa-5x vertical-align-middle color1">
                            <div style="font-size:x-large;">
                                menu
                            </div>
                        </i>
                    </div>
                    <div
                            id="logoutBtn"
                            class="col-xs-6 backgroundColor2" onclick="gotoRoute('Account/Logoff');">

                        <i class="fa fa-sign-out fa-5x vertical-align-middle color1">
                            <div style="font-size:x-large;">
                                logout
                            </div>
                        </i>

                    </div>
                </ons-list-item>
            </ons-list>
            <div id="profile" style="margin: 10px;">
                <div class="row">
                    <div class="col-xs-3" style="padding:0;text-align: center">
                        <img src={{response.UserProfile.ProfileImageUrlBigger}}/>
                    </div>
                    <div class="col-xs-9 border">
                        <h3>{{response.UserProfile.ScreenName}}</h3>
                        <h5>@{{response.UserProfile.Username}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 border">
                        <div id="numberOfBlrbs">
                            {{response.NumberOfBlrbs}}
                        </div>
                        <div>
                            blrbs
                        </div>
                    </div>
                    <div class="col-xs-4 border">
                        <div>
                            {{response.UserProfile.NumberOfBlrbrFriends}}
                        </div>
                        <div>
                            following
                        </div>
                    </div>
                    <div class="col-xs-4 border">
                        <div>
                            {{response.UserProfile.NumberOfBlrbrFollowers}}
                        </div>
                        <div>
                            followers
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ons-page>

</ons-template>
</div>

</body>



<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/deviceCheck.js"></script>
<script type="text/javascript" src="js/route.js"></script>

<script src="lib/onsen/js/angular/angular.js"></script>
<script src="lib/onsen/js/onsenui.js"></script>

<script src="js/jquery.caret.js"></script>
<script src="js/jquery.atwho.js"></script>

<!-- moved from bottom -->
<script src="cordova.js"></script>
<script type="text/javascript" src="js/GAPlugin.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script src="js/app.js"></script>

<script type="text/javascript" src="js/soundmanager2.js"></script>
<script type="text/javascript" src="js/page-player.js"></script>


<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="js/jquery.signalR-2.0.2.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="http://blrbr.co/signalr/hubs" type="text/javascript"></script>
<!--SignalR script to update the chat page and send messages.-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#mainApp').show();
        app.initialize();
    });

</script>
</html>
