<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<title>My App</title>

		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="css/index.css" />

		<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
		<link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
		<link rel="stylesheet" href="styles/app.css"/>
		<link rel="stylesheet" href="css/page-player.css"/>

		<script src="lib/onsen/js/angular/angular.js"></script>
		<script src="lib/onsen/js/onsenui.js"></script>

		<script src="cordova.js"></script>
		<script src="js/app.js"></script>

		<script type="text/javascript" src="js/soundmanager2.js"></script>
		<script type="text/javascript" src="js/page-player.js"></script>
	</head>

	<body>

		<ons-sliding-menu
		menu-page="menu.html" main-page="home.html" side="left"
		type="reveal" max-slide-distance="100%" swipable="true"></ons-sliding-menu>

		<script type="text/ons-template" id="menu.html">
			<ons-page ng-controller="MenuCtrl" style="background-color: white">

			<ons-list style="text-align: center;height:100%;">
			<ons-list-item
			style="background-color: #4A6FB6; height:25%;"
			ng-click="gotoPage('home') ">

			<i class="fa fa-home fa-5x fa-fw vertical-align-middle" style="color: #000; "></i>
			</ons-list-item>

			<ons-list-item
			style="background-color: #F26722; height:25%;"
			ng-click="gotoPage('channel')">

			<i class="fa fa-list-ul fa-5x fa-fw vertical-align-middle" style="color: #000; "></i>
			</ons-list-item>

			<ons-list-item
			style="background-color: #6FBF46; height:25%;"
			ng-click="gotoPage('stream')">

			<i class="fa fa-headphones fa-5x fa-fw vertical-align-middle" style="color: #000; "></i>
			</ons-list-item>

			<ons-list-item
			style="background-color: #F1EB55; height:25%;"
			ng-click="gotoPage('create')">

			<i class="fa fa-microphone fa-5x fa-fw vertical-align-middle" style="color: #000; "></i>
			</ons-list-item>
			</ons-list>

			</ons-page>

		</script>

		<script type="text/ons-template" id="page1.html">
			<ons-page>
			<ons-toolbar>
			<div class="center">Page 1</div>
			</ons-toolbar>

			<ons-row style="margin-top: 100px;">
			<ons-col align="center">
			<ons-button modifier="light" ng-click="ons.slidingMenu.toggleMenu()">
			Toggle Menu
			</ons-button>
			<p style="color: #999">Click "Toggle Menu" to close/open menu, You can also swipe the page left/right.</p>
			</ons-col>
			</ons-row>
			</ons-page>
		</script>

		<script type="text/ons-template" id="page2.html">
			<ons-page>
			<ons-toolbar>
			<div class="center">Page 2</div>
			</ons-toolbar>

			<ons-row style="margin-top: 100px;">
			<ons-col align="center">
			<ons-button modifier="light" ng-click="ons.slidingMenu.toggleMenu()">
			Toggle Menu
			</ons-button>
			</ons-col>
			</ons-row>

			</ons-page>
		</script>

		<script type="text/ons-template" id="home.html">
			<div id="homePage" ng-controller="HomeCtrl" style="text-align: center;" >
			<br>
			<img src="images/blrbrfish_logo_nobubble.png" width="90%"/>
			<br>
			<br>
			<img src="images/blrbr_logo_50.png"/>
			<div class='row' style="position: absolute;bottom: 0px;width:100%;margin:0px;">
			<div  style="font-size: 70px;text-align: center;width:100%;">

			<div id="isLoggedInTrue" style="font-size:50px;" hidden="hidden">hi {{response.ScreenName}}</div>

			<div id="loadingBtn" style="background-color: #FFFFFF;margin:0px;ont-size: 70px;text-align: center;">
			<div>
			<span class="fa fa-spinner fa-spin"></span>
			</div>
			</div>

			<div id="loginBtn" style="background-color: #F1EB55;margin:0px;ont-size: 70px;text-align: center;" onclick="gotoRoute('Account/Login');" hidden="hidden">
			<div>
			<span class="fa fa-sign-in"></span>
			</div>
			</div>

			<div id="menuBtn" style="background-color: #4A6FB6;margin:0px;ont-size: 70px;text-align: center;" ng-click="ons.slidingMenu.toggleMenu()">
			<div>
			<span class="fa fa-bars"></span>
			</div>
			</div>
			</div>
			</div>
			</div>
		</script>

		<script type="text/ons-template" id="stream.html">

			<div id="streamPage" ng-controller="StreamCtrl" >

			<div class='row' style="margin:0px;font-size: 70px;text-align: center;">
			<div id="backBtn" class="col-xs-6" style="background-color: #4A6FB6;" ng-click="ons.slidingMenu.toggleMenu()">
			<div>
			<span class="fa fa-bars"></span>
			</div>
			</div>
			<div id="blrbBtn" class="col-xs-6" style="background-color: #F1EB55;"ng-click="ons.slidingMenu.setMainPage('create.html', {closeMenu: true});">
			<div>
			<span class="fa fa-microphone"></span>
			</div>
			</div>

			</div>

			<div id="channel" hidden="hidden" style="text-align: center;">
			<img src="{{response.Channel.BannerImg}}" style="width:100%;"/>
			<div>{{response.Channel.Name}}</div>
			<div>#{{response.Channel.Hashtag}}</div>
			</div>

			<div id="profile" hidden="hidden">
			<div class="row">
			<div class="col-xs-3" style="padding:0;">
			<img src={{response.UserProfile.ProfileImageUrlBigger}} />
			</div>
			<div class="col-xs-9 border">
			<h3>{{response.UserProfile.ScreenName}}</h3>
			<h5>@{{response.UserProfile.Username}}</h5>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-4 border">
			<div id="numberOfBlrbs">
			{{response.NumberOfBlrbs}}
			</div>
			<div>
			blrbs
			</div>
			</div>
			<div class="col-xs-4 border">
			<div>
			{{response.UserProfile.NumberOfBlrbrFriends}}
			</div>
			<div>
			following
			</div>
			</div>
			<div class="col-xs-4 border">
			<div>
			{{response.UserProfile.NumberOfBlrbrFollowers}}
			</div>
			<div>
			followers
			</div>
			</div>
			</div>

			</div>

			<div >
			<ul class="playlist">
			<li ng-repeat="blrb in response.BlrbStreamItems" style="background-color:#{{blrb.Color}};" class="blrbItem" id="{{blrb.Id}}">

			<a href="{{blrb.Sound}}" class="clip">
			<div class="row" style="background-color:white;margin:0px; ">
			<div class="col-xs-2" style="padding:0;">
			<img src="images/pause.png" alt="pause" class="pause" width="48" />
			<img src="images/play.png" alt="play" class="play" width="48" />
			</div>
			<div class="col-xs-9">
			<img src="{{blrb.Img}}" />
			{{blrb.ScreenName}}
			</div>
			</div>
			</a>

			<div style="background-color: white;">
			<div ng-bind-html="{{blrb.TextWithMarkup}} | sanitize"></div>
			</div>

			</li>

			</ul>

			</div>

			</div>

		</script>
		<script type="text/ons-template" id="channel.html">

			<div id="channelPage" ng-controller="ChannelCtrl" >

			<div class='row' style="margin:0px;font-size: 70px;text-align: center;">
			<div id="backBtn" class="col-xs-6" style="background-color: #4A6FB6;" ng-click="ons.slidingMenu.toggleMenu()">
			<div>
			<span class="fa fa-bars"></span>
			</div>
			</div>
			<div id="blrbBtn" class="col-xs-6" style="background-color: #F1EB55;" hidden="hidden">
			<div>
			<span class="ion-upload"></span>
			</div>
			</div>
			<div id="blrbBtnOff" class="col-xs-6" style="background-color: lightgrey;" >
			<div>
			<span class="ion-upload"></span>
			</div>
			</div>

			</div>

			<div class='row' ng-repeat="channel in response">
			<img src="{{channel.BannerImg}}" width="100%" ng-click="gotoChannel(channel.Hashtag);" ></img>

			</div>

			</div>

		</script>

		<script type="text/ons-template" id="create.html">

			<div id="createPage" ng-controller="CreateCtrl" style="font-size: 70px;text-align: center;">

			<div class='row' style="margin:0px;">
			<div id="backBtn" class="col-xs-6" style="background-color: #4A6FB6;" ng-click="ons.slidingMenu.toggleMenu()">
			<div>
			<span class="fa fa-bars"></span>
			</div>
			</div>
			<div id="blrbBtn" class="col-xs-6" style="background-color: #F1EB55;" hidden="hidden">
			<div>
			<span class="ion-upload"></span>
			</div>
			</div>
			<div id="blrbBtnOff" class="col-xs-6" style="background-color: lightgrey;" >
			<div>
			<span class="ion-upload"></span>
			</div>
			</div>

			</div>
			<div id="loading" class='row'>
			<br>
			<p>
			blrbn...
			</p>
			<div>
			<span class="ion-upload"></span>
			</div>
			</div>
			<div class='row' style="position: absolute;bottom: 0px;width:100%;margin:0px;">
			<div style="text-align: center; font-size: xx-large; padding:0px;" class="col-xs-12">
			<div id="twitterYes" style="background-color: #DB60A3 ;height:75px;" onclick="twitterToggle('no');">
			<img src="images/bird_blue_48.png" style="padding-top: 20px;"/>
			</div>
			<div id="twitterNo" style="background-color: lightgrey;height:75px;" onclick="twitterToggle('yes');" hidden="hidden">
			<img src="images/bird_gray_48.png" style="padding-top: 20px;"/>
			</div>

			</div>
			<div id="recordBtn" class="col-xs-6" style="background-color: #F26722" >
			<div>
			<span class="glyphicon glyphicon-record"></span>
			</div>
			</div>
			<div id="stopBtn" class="col-xs-6" style="background-color: red " hidden="hidden">
			<div>
			<span class="glyphicon glyphicon-stop"></span>
			</div>
			</div>
			<div id="playBtn" class="col-xs-6" style="background-color: #6FBF46" hidden="hidden">
			<div>
			<span class="glyphicon glyphicon-play"></span>
			</div>
			</div>
			<div id="playBtnOff" class="col-xs-6" style="background-color: lightgrey">
			<div>
			<span class="glyphicon glyphicon-play"></span>
			</div>
			</div>
			</div>

			<div class='row' style="position: absolute;bottom: 175px;top:100px;width:100%;margin:0px;min-height: 300px;">
			<textarea id="text_textarea" class="input-xlarge" style="width:100%;height:100%;border:white;font-size: xx-large;"></textarea>
			</div>

			</div>

		</script>

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/deviceCheck.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/route.js"></script>

		<!--Script references. -->
		<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
		<!--Reference the SignalR library. -->
		<script src="js/jquery.signalR-2.0.2.js"></script>
		<!--Reference the autogenerated SignalR hub script. -->
		<!-- <script src="signalr/hubs"></script>
		<!--SignalR script to update the chat page and send messages.-->

	</body>
</html>
